.banner {
  background-color: tan;
  color: whitesmoke;
  font-weight: 300;
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 17px;
  margin: 20px;
  font-size: 125%;
  font-family: sans-serif;
}

.navbar {
  background-color: #555;
  color: whitesmoke;
  font-weight: 100;
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 17px;
  margin: 20px;
  font-size: 125%;
  font-family: sans-serif;
}

.slideshow {
  max-width: 1000px;
  max-height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.d-block {
  border-radius: 25px;
}

.cart {
  margin-left: auto;
  margin-right: auto;
}
